
/* 
    Created on : 9-jan-2014, 20:58:43
    Author     : peter nieuwenhuyse
    Purpose    : Themeroller TapCrowd
*/
/*-----------------------------INDEX--------------------------------------------
    1. GENERAL
    2. PREVIEW BOX
    3. TABS
    4. FORM
    5. BUTTON
    6. CLEARFIX
------------------------------------------------------------------------------*/



/*--------------------------1. GENERAL----------------------------------------*/

body{
    background-color:#ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height:18px;
    color:#333333;
    width:100%;     
}
h1{
    font-size:30px;
    margin-bottom:10px;
}
label{
    display:block;
    padding-left:2px;
}

.overall_container{
    min-width:960px;
}

/*------------------------- 2. PREVIEW BOX -----------------------------------*/

#preview_main_wrapper{
    background: url(../images/phone.png);
    background-size: 100%;
    width:378px;
    height:672px;
    float:left;
    margin-top:20px;  
}
#preview_header{
    width:322px;
    background:#2f2f2f;
    height:60px;
    position:relative;
    top:6.5%;
    left:7.7%;
    border:none;
    z-index:0;
}
#preview_launcher_content{
    position:relative;
    height:470px;
    width:322px;
    top:-100%;
    
}
#prev_6_image{/*navbar background image */ 
    position:relative;
    width:320px;
    height:60px;
    left:1px;
    z-index:-9;
    display:none;
}
#prev_9_image{/*navbar logo */
    position:relative;
    width:200px;
    top:-85%;
    left:18%;
}
#prev_15{/*navbar items */
    position:absolute;
    top:20%;
    left:80%;
}
#prev_25{/*launcher content */
    width: 322px;
    height: 480px;
    position:relative;
    left:7.5%;
    top:6.5%;
    margin-right: 0 !important;
    z-index:-10;
    box-sizing: border-box;
    
}
#prev_11_image{/* preview launcher background */
    position:relative;
    height:470px;
    width:322px;
    z-index:-9;
    
}
#prev_23{/*preview launcher items*/
    margin:10% 5% 0 5%;
    
}
#prev_13{ /*preview item text color */
    margin-left:-20px;
    display:block;
    
}
#prev_27{ /*preview content*/
    position:relative;
    height:470px;
    width:322px;
    top:-67%;
    z-index:-10;
    left:8%;
    visibility: hidden;
    
    
}
.icon_text{
    display:inline-block;
    width:32%;
    text-align: center;
    
}
#prev_7{/*titles*/
    font-size:14px;
    line-height:20px;
    font-weight:bold;
    padding:10px;
    
}
#prev_29{
    width:100%;
    height:40px;
    margin-top: -15px;
    padding-top:10px;
}
#prev_30{
    background-color: transparent;
    margin:auto;
    width:220px;
    border:1px solid #cccccc;
    border-radius:5px;
    height:30px;
    
    
}
#prev_1{/*text*/
    padding:10px;
}
#prev_2{/*separators*/
    width:100%;
    font-size:1.1em;
    line-height: 20px;
    padding:3px 10px;
}
#prev_8{/*separator text*/
    padding:5px;
}
ul.list{
    list-style-type: none;
    width:100%;
    padding:0;
    margin:0;
}
ul.list li{
    padding:16px 5px;
    background-image: url('../images/arrowwithpadding.png');
    background-repeat: no-repeat;
    background-position: right center;
}
ul.list li:first-child{
    border-top: solid thin #333333;
}
.prev_60{/*cell's */
    border-bottom:solid 2px;
    border-color:#333333;
}
ul.list li img{
    width:16px;
    padding:0 10px;
    float:left;
    vertical-align: middle;
    border:0;
    
}
#tapcrowd_logo{
    width:100%;
    margin:10% 8% 0 8%;  
}
#preview_extra{
    position:relative;
    display: block;
    height:470px;
    width:322px;
    top:-139%;
    z-index:-10;
    left:8%;
    visibility: hidden;
}
#preview_extra img{
    width:90%;
    margin-left: 5%;
    
}
.prev_tab{
    border-bottom: 1px solid #fefefe;
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
    padding:1em 0 0 1.5em ;
}
.prev_tab li{
    margin-left: 5px;
    float: left;
    line-height:20px;
    color:#efefef;
    display:list-item;
    text-align: -webkit-match-parent;
    padding:8px 12px 9px 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor:pointer;
}
.prev_tab li:hover{
    background-color: #fefefe;
    color:#333333;
}
#prev_39{/*tabs*/
    background-color: #fefefe;
    
}
#prev_40{
    color: #333333;
}

#prev_32_image {/*navigation marker */
    max-width:30px;   
    position:absolute;
    margin:0;
    padding:0;
    top:220px;
    left:200px;  
}
#prev_16_image{/* navigation marker */
    margin:0;
    padding:0;
    position:absolute;
    max-width:30px;
    top:95px;
    left:123px;
}
#prev_49{/*button*/
    position:absolute;
    bottom:8%;
    left:70%;
    width:3em;
    border:3px solid;
    padding:0.5em 1em;
    border-radius: 10px;
    margin:1em;
}
#prev_62{/*actionbar*/
    position:absolute;
    bottom:0.5%;
    width:100%;
    padding:0.7em 1em;
}
#preview_store{
    position:relative;
    display: block;
    height:470px;
    width:322px;
    top:-210%;
    padding-top: 2%;
    z-index:-10;
    left:8%;
    visibility: hidden;
}
#preview_store ul{
    
    list-style: none;
}
#preview_store ul li{
    display:block;
    line-height:60px;
    font-size: 1.5em;  
}
#preview_store ul li img{
    width:60px;
    margin-bottom: -25px;
    margin-top: 25px;
}
#preview_store ul li:first-child img{
    margin-top:0;
}
#preview_store ul li:last-child{
    padding-left:8px;
}
#prev_4_image{/*splach screen*/
    width:322px;
    height:530px;
    position:absolute;
}
#prev_5_image{/* app icon */
    width:120px;
}
/*----------------------------3. TABS ----------------------------------------*/
#tabContainer {
    width:550px;
    height:670px;
    padding:10px;
    float:left;
}

.tabs ul{
    list-style: none;
    padding:0 1em;
    border-bottom: solid thin #CCCCCC;
    margin-bottom: 29px
}
.tabs ul li{
    display:inline-block;
    cursor:pointer;
    margin-bottom:-1px;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border:solid thin #CCCCCC;
    padding:0 1em;
    line-height: 40px;
    background: #fff;
}
.tabs > ul > li.tabActiveHeader{
   
    background: linear-gradient(top,#dddddd,#f5f5f5);
    background: -webkit-linear-gradient(top,#dddddd,#f5f5f5);
    background: -o-linear-gradient(top, #dddddd 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%,#f5f5f5 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
    cursor:default;
    border-bottom:solid thin #F5f5f5;
}
.tabscontent {
    height:630px;
    overflow:auto;
    padding:0;
    margin:0;   
}
/*------------------------ 4. FORM SECTION ---------------------------------- */
#user_inputs{
    background-color: #f5f5f5;
    margin-top:-29px
}
#user_inputs h1{
    margin-bottom: 0;
    border:none;
    margin-top: 0;
    font-size: 1.4em;
    padding: 0em 1em;
}
#user_inputs fieldset{
    border:none; 
    margin: 0;
}
#user_inputs fieldset label{
    display: block;
    font-size:1em;
}
#user_inputs header{
    background-color: #45AEE5;
    padding:0.5em 1em;
    margin-bottom: 0;
    margin-top: 0;
}
fieldset h2{
    margin-top:0;
    font-size: 1.2em;
    border-bottom: solid thin #DDDDDD;
}
.sectionheader{
    background-color: #f5f5f5;
    padding-right: 0.5em;
    position:relative;
    bottom: -10px;
}
.info{
    display: block;
    font-size: 0.8em;
    color:#999999;
}
.formrow{
    display:block;
    margin-bottom:0.5em;
    padding-left: 1em;
}
.input_image{
    display:block;
    float:left;
}
.small_preview{
    float: left;
    height:46px;
    margin:0 2em;
}
.small_preview img{
    margin-top: 1em;
    width:40px;
}
.remove_image{
    margin-left: 20px;
    width:20px !important;
    cursor: pointer;
}
.colorinput{
    display:inline-block;
    width:30%;
    text-align: left;
    padding:0 0 0 1em;
    float:left;
}
.colorinput label{
    width:70%;
    
    padding:0.5em 0;
}
.sp-replacer{
    float:left;
}
.show_hide{
    padding:2em 0;
    float:right;
}
.enable_preview{
    display:block;
}
.enabled{
    float:right;
    display:block;
    width:64px;
    height:1.7em;
    background-image: url('../images/btn-onoff-22.png')
}
.disabled{
    float:right;
    display:block;
    background-position: -64px;
    width:64px;
    height:1.7em;
    background-image: url('../images/btn-onoff-22.png')
}
/*---------------------5. BUTTONS---------------------------------------------*/
input[type="submit"], input[type="button"]{
    background-color: #45AEE5;
    border-color: #357EBD;
    color: #FFFFFF;
    text-decoration: none;
    position:absolute;;
    top:80px;
    left:500px;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
input[type="submit"]:hover ,input[type="button"]:hover{
    background-color: #005082;  
}
/*-------------------------6. CLEARFIX-----------------------------------------*/
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }
